venv/
__pycache__/
.ipynb_checkpoints/
*.pyc
.DS_Store
venv/
__pycache__/
.ipynb_checkpoints/
*.ipynb
*.pyc
all_normal_test1.py
final_realistic_data.py
flight_detection.ipynb
generate_all_cases.py
test_all_anomalies.csv
test_all_normal.csv
test_edge_cases.csv
test_mixed.csv
test_realtime.csv
random_forest_model.pkl
xgboost_model.pkl
